-url = 'https://stackoverflow.com/questions/' + @threadID
- page = Nokogiri::HTML(open(url))

-# Remove all StackOverFlow JavaScript
- nodes = []
- page.css('head')[0].children.each do |child|
	- if child.name == 'meta' or child.name == 'link' then nodes.push(child) end
- head = page.css('head')[0]
- head.inner_html = ''
- nodes.each do |node| head.add_child node end
- body = page.css('body')[0]
- body.children.each do |child|
	- if child.name == 'script' or child.name == 'noscript' then child.remove end

-# Add our stylesheets and JavaScript
- additions = stylesheet_link_tag    'application', media: 'all'
- additions += javascript_include_tag 'application'
- additions += csrf_meta_tags
- head.inner_html += additions


-# Removing unnecessary components
- page.css('#left-sidebar')[0].remove
- page.css('#js-gdpr-consent-banner')[0].remove
- page.css('#dfp-tlb')[0].remove
- page.css('#sidebar')[0].remove
- page.css('#post-form')[0].remove
- page.css('#tabs')[0].remove
- page.css('#custom-header').each do |btn| btn.remove end
- page.css('.comment-user').each do |comment| comment.remove end
- page.css('.post-signature').each do |sig| sig.remove end
- page.css('.pl8').each do |btn| btn.remove end # Remove 'Ask Question' button

-# Highlighting quesitions
- btn = link_to 'Comment', new_task_path, class: 'btn btn-primary', remote: true
- highlightedAnswer = page.css('#' + @answerID + ' p')[0].inner_html.gsub(@sentenceText, '<mark>' + @sentenceText + '</mark>' + btn)
- page.css('#' + @answerID + ' p')[0].inner_html = highlightedAnswer

- # Adding modal div
- newDiv = Nokogiri::XML::Node.new('div', page)
- newDiv['class'] = 'modal fade'
- newDiv['id'] = 'modal'
- body.add_child(newDiv)

= html = page.to_html.html_safe
= link_to 'Next Thread', @nextPath, class: 'btn btn-primary', method: :post